body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  @keyframes colorchange {
    5% { color: red; }
    20% { color: orange; }
    40% { color: yellow; }
    60% { color: green; }
    80% { color: blue; }
    100% { color: purple; }
  }
  h1 {
    text-align: center;
    animation: colorchange 3s infinite;
  }
  
  header {
    background-color: #8e19db;
    color: #fff;
    padding: 30px 0;
  }  
  main {
    max-width: 800px;
    margin: 20px auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
  
  
  p {
    font-size: 17px;
    margin-bottom: 20px;
    color: #131111;
    line-height: 1.4;

  }

  img {
    display:flex;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
  }