body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #da87eb;
  }
  
  header {
    background-color: #8e19db;
    color: #fff;
    padding: 30px 0;
  }
  
  nav {
    display: flex;
    justify-content:space-between;
    padding: 0 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration:dashed;
  }
  
  main {
    max-width: 800px;
    margin: 20px auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  h1 {
    color: #0d045f;
    text-align: center;
    font-size: 22px;

  }
  
  p {
    text-indent: 20px;
    margin-bottom: 20px;
    color: #131111;
    line-height: 1.5;
  }

  img {
    display:flex;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
  }
  article {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}