body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dfeef7;
  }
  
  h1 {
    color: #350cec;
    font-size: 22px;
    padding: 20px;
    text-align: center;
  }
  
  p {
    color: #0e0d0d;
    line-height: 1.6;
    padding: 0 20px;
    text-align: justify;
  }

  header {
    background-color: #8e19db;
    color: #fff;
    padding: 30px 0;
  }
  
  nav {
    background-color: cadetblue;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
  }
  
  nav a {
    color: #e3eee4;
    text-decoration: none;
    transition:  color 0.3s ease;
  }
  nav a:hover {
    color: #15f830;
  }

  img {
    display: block;
    margin-left:auto;
    margin-right: auto;
    width:70%;
    max-width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(165, 15, 15, 0.774);
    transition: transform .2s;
  }
  img:hover {
    transform: scale(1.1);
  }


  footer {
    background: linear-gradient(to right, #8e19db, transparent);
    color: #fff;
    color: #fff;
    padding: 25px 0;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .footer-content a {
    color: #31f14a;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-content a:hover {
    color: hsl(345, 89%, 4%);
  }
  
  .footer-content p {
    color: #fff;
  }
