body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: #790e79;
    color: #fff;
    padding:   40px;
  }
article {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.logo {
    height: 70px;
    width: 100px;
    margin: 0 auto;
    display:block;
}
h1 {
    font-size: 18px;
    text-align: center;
    background: -webkit-linear-gradient(left, orange,yellow,green,blue,indigo, violet);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.my-link:hover {
    background-color: #14eb7fd7;
    color: #790e79;
  }
  
  .my-link.active {
    background-color: #f360f3;
    color: #f3f3e3;
  }
  footer.custom-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #790e79;
    color: #fff;
    padding: 10px 20px;
  }
  
  footer.custom-header p {
    margin: 0;
  }